<main class="content">
  <h1>Practico de Angular en Santex XAcademy</h1>
  <article class="container__list">
    <div *ngIf="viewList ? true : false">
      <mat-list role="list" *ngFor="let item of items" class="asd">
        <mat-list-item role="listitem"
          ><b>Nombre:</b> {{ item.name }}<br />
          <b>Costo:</b> {{ item.cost }}</mat-list-item
        >
      </mat-list>
    </div>
  </article>

  <button mat-raised-button color="primary" (click)="listHidden()" class="btn">
    {{ viewList ? "Ocultar lista" : "Mostrar lista" }}
  </button>
</main>

<router-outlet></router-outlet>
